@if(Context.User.Identity.IsAuthenticated==false)
{
    //EL USUARIO NO ESTA AUTENTICADO, LE LLEVAREMOS A UNA VISTA PROTEGIDA, QUE A SU VEZ NOS LLEVARA A EL LOGIN 
    <li class="nav-item">
        <a class="nav-link " asp-action="Perfil" asp-controller="Deportes">Log In</a>
    </li>
}
else
{
    <li class="nav-link">
 <a asp-controller="Managed" asp-action="logout" class="nav-link text-danger">Log Out <span style="color:blue">@Context.User.Identity.Name</span></a></li>
}